:root {
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    --cinza_escuro: #D9D9D9;
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
}

body {
    background-color: var(--branco);
}

.tela {
    display: flex;
    background-color: var(--cor_fundo);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 97vh;
    margin-left: 3vw;
    margin: auto;
    box-shadow: 3px 6px 13px 3px #424141;
    border: 1px solid rgb(189, 178, 178);
    overflow: scroll;
}

.tela::-webkit-scrollbar-track {
    width: 30vw;
    background-color: var(--cinza_escuro);
    box-shadow: inset 0 0 10px 5px var(--cor_fundo);
    position: fixed;
    bottom: 0.5vh;
    left: 2vw;
}

.tela::-webkit-scrollbar {
    height: 12vh;
    width: 6px;
}

.tela::-webkit-scrollbar-thumb {
    background-color: var(--verde_agua);
}

main {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#serviceForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-success{
    margin-top: 5vh;
    margin-bottom: 15vh;
}

#botao {
    background-color: var(--verde_agua);
    border: none;
    height: 6vh;
    width: 16vw;
    color: var(--cor_fundo);
    font-size: 14px;
    margin-bottom: 2vh;
    box-sizing: border-box;
}

#botao:hover {
    background-color: var(--azul);
    color: var(--branco);
}

.container {
    width: 25vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 1vh;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10vh;
    width: 25vw;
    height: 9vh;
}

button{
    width: 12vw;
    height: 5vh;
    background-color: var(--verde_agua);
    color: var(--cor_fundo);
    border: none;
}

button:hover {
    background-color: var(--azul);
    color: var(--branco);
}

label {
    margin-bottom: 1vh;
    color: var(--cinza_claro);
}

input {
    width: 23vw;
    height: 3vh;
    border-radius: 1vw;
    border: 1px solid var(--cinza_claro);
    padding: 10px;
    background-color: var(--cinza_escuro);
}

::placeholder {
    color: var(--cor_fundo);
}

#logo {
    padding:0px;
    height: 6vh;
    width: 24vw;
}

#imagem_site{
    height: 36vh;
    width: 27vw;
}

.file-label {
    display: inline-block;
    padding: 10px;
    background-color: var(--verde_agua);
    color: var(--cor_fundo);
    border: 1px solid var(--verde_agua);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 23vw; 
    margin-bottom: 10px;
    height: 7vh;
}

.file-label:hover {
    background-color: var(--azul);
}

.file-input {
    display: none; 
}

#fileName {
    color: var(--cinza_claro);
    margin-top: 10px;
    font-size: 14px;
}

.btn {
    margin-right: 5px;
}

.footer {
    height: 15vh;
    width: 30vw;
    background-color: var(--cinza_escuro);
    box-shadow: inset 0 0 10px 5px var(--cor_fundo);
    position: fixed;
    bottom: 1.2vh;
    right: 35vw;
}

.botoes-paginas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.botoes-paginas a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra_de_icones {
    height: 15vh;
    width: 10vw;
}

h1 {
    color: var(--branco);
}


#logo {
    background-color: var(--cinza_escuro);
    color: var(--cor_fundo);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#fileName {
    margin-top: 10px;
    color: var(--cinza_claro);
    font-size: 14px;
}

#logo::file-selector-button {
    background-color: var(--verde_agua);
    color: var(--cor_fundo);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    width: 9vw;
    height: 6vh;
}

#logo::file-selector-button:hover {
    background-color: var(--azul);
    color: var(--branco);
}

select{
    width: 24.5vw;
    height: 6vh;
    border-radius: 1vw;
    border: 1px solid var(--cinza_claro);
    padding: 10px;
    background-color: var(--cinza_escuro);
    color: var(--cor_fundo);
}