*{
    color: var(--branco);
}

body{
    background-color: var(--branco);
}

:root{
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    /* 80% */
    --cinza_escuro: #D9D9D9;
    /* 50% */
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
}


.tela {
    display: flex;
    background-color: var(--cor_fundo);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30vw;
    height: 97vh;
    margin: auto;
    box-shadow: 3px 6px 13px 3px #424141;
}

#botoes_iniciais{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--azul);
    color: white;
    transform: scale(1.1)
}

.logar {
    background-color: var(--verde_agua);
    color: var(--preto);
    width: 9vw;
    height: 7.5vh;
    border-radius: 4vw;
    border: var(--verde_agua);
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.entrar {
    background-color: var(--verde_agua);
    color: var(--preto);
    width: 12vw;
    height: 7.5vh;
    border-radius: 4vw;
    border: var(--verde_agua);
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
    margin-left: 5vw;
}