*{
    margin: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body {
    background-color: var(--branco);
}

:root{
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    /* 80% */
    --cinza_escuro: #D9D9D9;
    /* 50% */
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
    --marrom: #534E4E;
}

/* ---------------------HEADER------------------------ */


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    height: 22vh;
    width: 17vw;
}

.barra_navegacao {
    position: fixed;
    width: 9.5vw; 
    height: 100%;
    background-color: #ffffff;
    color: #30bdd1;
    padding: 20px 25px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.links_navegacao {
    list-style: none;
    padding: 0;
    text-align: center; 
}

.links_navegacao li {
    margin: 20px 0;
    position: relative;
}

.links_navegacao a {
    text-decoration: none;
    color: #30bdd1;
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.links_navegacao a i {
    margin-bottom: 5px; 
    transition: transform 0.3s ease;
}

.links_navegacao a:hover {
    background-color: rgba(48, 189, 209, 0.1); 
    transform: translateX(5px);
    border-radius: 5px;
}

.links_navegacao a.ativo {
    border-radius: 5px;
    background-color: #30bdd1; 
    color: white; 
}

.links_navegacao a.ativo i {
    transform: rotate(20deg); 
}

.conteudo {
    margin-left: 10.5vw;
    padding: 20px;
}



main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    overflow: hidden;
}

aside {
    background-color: #ffffff;
    height: 100vh;
    width: 12%;
}

article {
    height: 100vh;
    width: 88%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}


.main_secao {
    height: 100vh;
    width: 58vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* background-color: white; */
    background-color: #98f0fab3;
    /* background-color: #44e3eebe; */

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; 


    /* border: 1px solid black; */
    /* position: fixed;
    overflow: hidden; */
}



.main_secao::-webkit-scrollbar {
    display: none; 
}


.main_coluna {
    margin-left: 58vw;
    position: fixed;
    overflow-y: auto; 
    overflow-x: hidden;
    height: 100vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: var(--azul);
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-image: url(../../imagens/fundo.png);
}


img{
    height: 20vh;
    width: 10vw;
}

#agendamentos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 60vh;
    width: 30vw;
    /* border: 1px solid black; */
}

.item_agendamento {
    padding: 1vw;
    background-color: white;
    height: 24vh;
    width: 18vw;
    border-radius: 1vw;
    margin-bottom: 1.5vh;
    
}

#agendamentos_pendentes .item_agendamento{
    background-color: rgba(255, 255, 255, 0.904);
}

#agendamentos_confirmados .item_agendamento{
    background-color: rgb(235, 253, 234);
    border: 2px solid rgb(139, 226, 160);
}

#agendamentos_cancelados .item_agendamento{
    background-color: rgb(255, 235, 235);
    border: 2px solid rgb(255, 173, 173);
}


#agendamentos_confirmados {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    width: 27vw;
    border-left: 1px solid #43cee1;
    /* border: 2px solid #000000; */


}


.agendamentos_indefinidos {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 27vw;

  
}

.info_agendamento {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;

    height: 24vh;
    width: 18vw;
    color: #777777;
    /* border: 1px solid black; */
}

.info_cliente {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    
    width: 54vw;
    /* border: 1px solid black; */
}

.info_perfil {
    height: 18vh;
    margin-left: 6px;

    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
}

.info_perfil h1 {
    font-weight: 400;
    font-size: 28px;
    color: #36c6da;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.info_perfil h2 {
    font-weight: 400;
    font-size: 22px;
    color: var(--azul);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


.foto_perfil {
    height: 12vh;
    width: 6vw;
    border: 3px solid #32b9cb;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.foto_perfil img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
}

.meus_agendamentos {
    /* background-color: #7cf2ff; */
    /* height: 82; */
    width: 58vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-top: 1px solid #43cee1;
    /* border: 1px solid black; */
}

.meus_agendamentos h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--azul);
    font-size: 30px;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.container {
    /* border: 1px solid black; */

    width: 58vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.titulo {
    color: #45b1bf;
}

.mensagem_erro {
    font-size: 28px; 
    color: red;
    padding: 10px;   
    background-color: #ffe6e6; 
    border: 1px solid red;     
    border-radius: 5px;        
    height: 25vh;
    width: 30vw;
}




#agendamentos_concluidos {
    display: none;
}














.cabecalho_logo {
    display: none;
}


/* --------------------------RESPONSIVO---------------------------- */
 
@media screen and (min-width: 50px) and (max-width: 1013px) {

    main {
       
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    
    }


    
    .cabecalho_logo {
        width: 100%;
        height: 13%;
        background-color: rgba(255, 255, 255, 0.873);
        display: flex;
        align-items: center; 
        justify-content: center; 
        position: fixed; 
        z-index: 100;
        box-shadow: 0px 0px 4px 1px rgba(167, 165, 165, 0.5);
    }

    .cabecalho_logo img {
        height: 12vh;
        width: 50vw;
    }

    .barra_navegacao {
        bottom: 0; 
        width: 100%;
        height: 11%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-top: 1px solid #c5c3c3;
        z-index: 20;
    }

    .links_navegacao {
        height: 11vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .logo {
        display: none;
    }

    .links_navegacao li a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links_navegacao li a span {
        display: none;
    }

    .links_navegacao li a i {
        font-size: 2em; 
        margin-right: 0; 
    }

    .links_navegacao a.ativo {
        height: 4vh;
        width: 14vw;
    }

    article {
        position: relative;
        margin-top: 13vh;
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .main_secao {
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        
        position: relative;
    }
    
    .main_coluna {
       

        display: none;
    }
    
   




        
    article {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

    
    }


    #agendamentos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 60vh;
        width: 30vw;
    
    }

    .item_agendamento {
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 3vw;
        background-color: white;
        height: 20vh;
        width: 60vw;
        border-radius: 3vw;
        margin-bottom: 1.5vh;
        
    }

    #agendamentos_pendentes .item_agendamento{
        background-color: rgba(255, 255, 255, 0.904);
    }

    #agendamentos_confirmados .item_agendamento{
        background-color: rgb(235, 253, 234);
        border: 2px solid rgb(139, 226, 160);
    }

    #agendamentos_cancelados .item_agendamento{
        background-color: rgb(255, 235, 235);
        border: 2px solid rgb(255, 173, 173);
    }


    #agendamentos_confirmados {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        height: 100%;
        width: 80vw;
        border-left: none;
        border-bottom: 1px solid #37b2c2;
    
        /* border: 2px solid #000000; */


    }


    .agendamentos_indefinidos {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        margin-top: 2vh;
        width: 80vw;

    
    }

    .info_agendamento {
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: column;

        height: 60vh;
        width: 60vw;
        color: #777777;
        /* border: 1px solid black; */
    }

    .info_cliente {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        
        width: 90vw;
        /* border: 1px solid black; */
    }

    .info_perfil {
        height: 18vh;
        margin-left: 6px;

        display: flex;
        align-items:start;
        justify-content: center;
        flex-direction: column;
    }

    .info_perfil h1 {
        font-weight: 400;
        font-size: 29px;
        color: #36c6da;
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }

    .info_perfil h2 {
        font-weight: 400;
        font-size: 25px;
        color: var(--azul);
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }


    .foto_perfil {
        height: 12vh;
        width: 25vw;
        border: 3px solid #32b9cb;
        border-radius: 50%;
        margin-right: 5px;
        overflow: hidden; 
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .foto_perfil img {
        height: 100%; 
        width: 100%; 
        object-fit: cover; 
    }

    .meus_agendamentos {
        /* background-color: #7cf2ff; */
        /* height: 82; */
        width: 100vw;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10vh;

        border-top: 1px solid #43cee1;
        /* border: 1px solid black; */
    }

    .meus_agendamentos h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--azul);
        font-size: 30px;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

    .container {
        /* border: 1px solid black; */

        width: 100vw;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .titulo {
        color: #45b1bf;
    }




}