*{
    margin: 0;
}

body {
    background-color: var(--branco);
}

:root{
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    /* 80% */
    --cinza_escuro: #D9D9D9;
    /* 50% */
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
    --marrom: #534E4E;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

article {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.main_secao {
    height: 100vh;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    flex-wrap: nowrap;
    overflow-y: auto;
    scrollbar-width: none;
}

.main_secao::-webkit-scrollbar {
    display: none;
}

.main_coluna {
    height: 100vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #cdf5f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: var(--azul);
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../../imagens/fundo.png);
}

h1 {
    color: #40A8B6;
    font-size: 45px;
    margin-bottom: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    height: 6vh;
    width: 11vw;
    border: 2px solid #40A8B6;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    color: #40A8B6;
    margin-bottom: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #bafdffed;
    border: none;
    color: #40A8B6;
}

.formulario_empresa {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 5vh;
}

input::placeholder{
    color:  rgb(122, 122, 122);
    margin-left: 5px;
}

.input-linha {
    border: none; 
    border-bottom: 2px solid  rgb(152, 151, 151);
    outline: none;
    padding: 5px 0; 
    width: 100%; 
    font-size: 16px; 
    background-color: transparent;
    color:  rgb(122, 122, 122);
}

.input-linha:focus {
    border-bottom: 3px solid #2cd0df; 
}

label {
    color: #43cee1;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
}

.select-linha {
    border: none; 
    border-bottom: 2px solid rgb(152, 151, 151); 
    outline: none; 
    background: transparent; 
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    appearance: none; 
    color: rgb(122, 122, 122);
}

.select-linha:focus {
    border-bottom: 2px solid #2cd0df; 
}

.select-linha::after {
    content: '▼';
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-actions button {
    width: 8vw;
}

.container {
    height: 90vh;
    width: 50vw;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
}

#logo {
    border: none;
}

.custom-file-upload {
    border: none;
    height: 4vh;
    width: 2vw;
    font-size: 18px;
}

.custom-file-upload:hover { 
    color: #2cd0df;
    background-color: transparent;
}

.escolher_logo {
    height: 4vh;
    display: flex;
    align-items:start;
    justify-content: space-evenly;
    flex-direction: row;
    width: 45vw;
    border-bottom: 2px solid rgb(152, 151, 151); 
}

#logo::file-selector-button {
    display: none;
}

.texto_registro {
    height: 27vh;
    width: 38vw;
    margin-bottom: 5vh;
}

.texto_registro p { 
    font-size: 28px;
    color: #534E4E;
}

.cabecalho_logo {
    display: none;
}

/* ----------------------------- RESPONSIVE LAYOUT ----------------------------- */

@media screen and (max-width: 1013px) {
    main {
        display: flex;
        flex-direction: column;
    }

    article {
        height: 100%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main_secao {
        height: auto;
        margin-top: 15vh; 
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: row;
        overflow-y: scroll; 
        overflow-x: hidden;
        scrollbar-width: thin;
    }

    .cabecalho_logo {
        display: block;
        width: 100%;
        height: 13vh;
        background-color: rgba(255, 255, 255, 0.975);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 100;
        box-shadow: 0px 0px 4px 1px rgba(167, 165, 165, 0.5);
    }

    .cabecalho_logo img {
        height: 12vh;
        width: 50vw;
    }

    .main_coluna {
        display: none;
    }

    .container {
        height: 90vh;
        width: 90vw;
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        flex-direction: column;
    }
  
    .formulario_empresa {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .escolher_logo {
        height: 4vh;
        display: flex;
        align-items:start;
        justify-content: space-evenly;
        flex-direction: row;
        width: 80vw;
        border-bottom: 2px solid rgb(152, 151, 151); 
    }

    button {
        height: 6vh;
        width: 45vw;
        border: 2px solid #40A8B6;
        background-color: transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, border 0.3s;
        color: #40A8B6;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .form-actions button {
        width: 40vw;
    }
    
    .escolher_logo {
        height: 3vh;
        display: flex;
        align-items:start;
        justify-content: space-evenly;
        flex-direction: row;
        width: 80vw;
        border-bottom: 2px solid rgb(152, 151, 151); 
    }

    .custom-file-upload {
        border: none;
        height: 3vh;
        width: 10vw;
        font-size: 20px;
    }

    #form-group-file {
        height: 6vh;
    }

    .texto_registro {
        height: 25vh;
        width: 89vw;
        margin-bottom: 2vh;
    }
    
    .texto_registro p { 
        font-size: 23px;
        color: #534E4E;
    }
    
}
