/* Estilizando o campo de data */
input[type="date"] {
    width: 200px;           /* Define a largura */
    padding: 10px;          /* Adiciona preenchimento interno */
    border: 2px solid #ccc; /* Define a borda */
    border-radius: 5px;     /* Define bordas arredondadas */
    font-size: 16px;        /* Define o tamanho da fonte */
    color: #877373;            /* Define a cor do texto */
    background-color: #f9f9f9; /* Define a cor de fundo */
}

/* Estilo para os rótulos */
label {
    display: block;         /* Faz com que os rótulos fiquem em blocos */
    margin-bottom: 10px;    /* Adiciona margem inferior */
    font-size: 14px;        /* Define o tamanho da fonte para rótulos */
}

/* Estilo para os botões */
.submit {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #161616;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
}
