*{
    color: var(--branco);
}

body{
    background-color: var(--branco);
}

:root{
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    /* 80% */
    --cinza_escuro: #D9D9D9;
    /* 50% */
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
}


.tela {
    display: flex;
    background-color: var(--cor_fundo);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30vw;
    height: 97vh;
    margin: auto;
    box-shadow: 3px 6px 13px 3px #424141;
}

h1{
    margin-bottom: 8vh;
    font-size: 30px;
}

h2{
    color: var(--verde_agua);
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}


label {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 20px;
    color: var(--cinza_claro);
}

input {
    display: block;
    width: 93%;
    margin: auto;
    padding: 13px;
    border-radius: 15px;
    font-family: "Roboto",sans-serif;
    opacity: 0.80;

}

#usuario, #senha {
    border: 2px solid var(--branco);
    background-color: var(--cinza_claro);
    color: #292626;
}

#usuario::placeholder, #senha::placeholder {
    color: #292626;
    font-size: 17px;;
}

input.submit {
    width: 8vw;
    border-radius: 25px;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: var(--preto);
    opacity: 1;
    background-color: var(--verde_agua);
    cursor: pointer;
    margin-top: 4vh;
    border: 1px solid var(--preto);
}


.submit:hover {
    background-color: var(--azul);
    color: white;
    transform: scale(1.1)
}

#menssagem{
    font-size: 20px;
}

#cadastre-se{
    color: var(--verde_agua);
    text-decoration: none;
}