*{
    margin: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body {
    background-color: var(--branco);
}

:root{
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    /* 80% */
    --cinza_escuro: #D9D9D9;
    /* 50% */
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
    --marrom: #534E4E;
}

/* ---------------------HEADER------------------------ */


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    height: 22vh;
    width: 17vw;
}

.barra_navegacao {
    position: fixed;
    overflow: hidden;
    width: 9.5vw; 
    height: 100%;
    background-color: #ffffff;
    color: #30bdd1;
    padding: 20px 25px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2; 
}

.links_navegacao {
    list-style: none;
    padding: 0;
    text-align: center; 
}

.links_navegacao li {
    margin: 20px 0;
    position: relative;
}

.links_navegacao a {
    text-decoration: none;
    color: #30bdd1;
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.links_navegacao a i {
    margin-bottom: 5px; 
    transition: transform 0.3s ease;
}

.links_navegacao a:hover {
    background-color: rgba(48, 189, 209, 0.1); 
    transform: translateX(5px);
    border-radius: 5px;
}

.links_navegacao a.ativo {
    border-radius: 5px;
    background-color: #30bdd1; 
    color: white; 
}

.links_navegacao a.ativo i {
    transform: rotate(20deg); 
}

.conteudo {
    margin-left: 10.5vw;
    padding: 20px;
}

@media (max-width: 768px) {
    .barra_navegacao {
        width: 200px;
    }

    .conteudo {
        margin-left: 220px;
    }
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    /* overflow: hidden; */
}

aside {
    background-color: #ffffff;
    height: 100vh;
    width: 12vw;
}

article {
    height: 100vh;
    width: 88vw;
    background-color: #ffffff;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    
}

.main_secao {
    height: 100vh;
    width: 58vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* background-color: #98f0fa4f; */
    background-color: white;
    position: fixed;
    overflow: hidden;
}

.main_coluna {
    margin-left: 58vw;
    position: fixed;
    overflow-y: auto; /* Rolagem horizontal automática */
    overflow-x: hidden;
    height: 100vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;


    color: var(--azul);
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_coluna .informacao {
    margin-left: 2vw;
    margin-top: 1vh;
}


.main_coluna #barra_pet {
    color: #43cee1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* border: 1px solid black; */
    width: 20vw;
    margin-top: 5vh;
}

#barra_pet button {
    width: 8vw;
    height: 6vh;
    color: #30bdd1;
    border-radius: 5px;
    border: 1px solid #30bdd1;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
}




#barra_pet button:hover{
    color: #40A8B6;
    border: 1px solid #40A8B6;
    background-color: #53EAFF;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
 
    z-index: 3;
   
}

.modal-content {
    background: #fff;
    padding: 20px;
    height: 35vh;
    width: 25vw;
    border-radius: 8px;
    position: relative;
    text-align: center;
    border: 2px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 30vh;
    margin-left: 27vw;
}

#previewImg {
    width: 10vw;
    height: 19vh;
    margin-bottom: 10px;
}

#trocarFotoBtn{
    background-color: var(--verde_agua);
    color: var(--cor_fundo);
    border: none;
    padding: 8px 18px;
    cursor: pointer;
}

#trocarFotoBtn:hover{
    background-color: var(--azul);
    color: white;
}

#okBtn {
    color: var(--cor_fundo);
    margin-top: 1vh;
    background-color: var(--verde_agua);
    color: var(--cor_fundo);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: none; 
    margin-bottom: 1vh;
}

#okBtn:hover {
    background-color: var(--azul);
    color: white;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}




.area_perfil {
    position: relative; 
    height: 30vh;
    width: 58vw;
    /* border: 1px solid black; */
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}

.area_perfil img {
    height: 100%;
    width: 100%;
    /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.267); */
    
}

.info_perfil {
    position: absolute;
    top: 7vh;
    left: 37%;
    right: 0; 
    background-color: rgb(255, 255, 255); 
    color: black;
    z-index: 1;
    height: 25vh; 
    width: 13vw;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    border-radius: 50%;
    border: 8px solid #53eaff;
    overflow: hidden; 
    cursor: pointer;
   
}

.info_perfil img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
   
}


.info_div {
    height: 10vh;
    width: 58vw;
  
    border: none; 
    border-bottom: 1px solid #918c8c;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    font-size: 20px;
    color: #635f5f;
}

.info_div .titulos {
    margin-left: 5vw;
}

.info_div button{
    height: 5vh;
    width: 7vw;
    color: #30bdd1;
    border: 1px solid #30bdd1;
    border-radius: 5px;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
}

.info_div button:hover{
    color: #40A8B6;
    border: 1px solid #40A8B6;
    background-color: #53EAFF;
}

.titulos {
    color: #30bdd1;
    font-weight: bold;
}

.texto_div {

    width: 45vw;
    /* border: 1px solid black; */
    margin-right: 5vw;
}




.pets_lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

   width: 27vw;
   font-size: 15px;
   font-weight: normal;
   margin-top: 5vh;
}

.bloco_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 25vw;
    height: 33vh;
    margin-bottom: 5vh;
    color: #635f5f;
    border-radius: 1vw;
    background-color: #98f0fa4f;
    padding: auto;

}

.bloco_card h2{
    color: #40A8B6;
}

.bloco_card img { 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bloco_card .info {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0;
    width: 12vw;
    height: 32vh;
  

}


.bloco_card .info2 {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0;
    width: 12vw;
    height: 32vh;
   
   
   /* Adicione um pouco de padding para evitar que os elementos grudem nas bordas */
}



.foto_div {
    margin: 0; /* Remove margens */
    width: 5vw;
    height: 10vh;
    overflow: hidden; 
    border: 2px solid #53eaff;
    border-radius: 50%;
 
  
   /* Mantém a posição relativa */
}

.bloco_card span {
    font-weight: bold;
    color: #43cee1;

}














#foto_pet {
    display: none; /* Mantém o input escondido */
}





/* Estilos básicos para o modal */
#modal_adicionar_pet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  




