*{
    color: rgb(0, 0, 0);
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    background: linear-gradient(to bottom, #c6eef9, #75dae1, #5dc5d2, #00bcd4);
}

/* -------------------------------------MAIN------------------------------------- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vw;
}

.secao {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 80vh;
    width: 60vw;
    border:none;
    border-radius: 2vw;
    border: 2px solid white;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.486);
    background-color: white;
}

.imagem_cadastro {
    height: 80vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
}

h1 {
    height: 40vh;
    font-size: 28px;
    color: #40A8B6;
    letter-spacing: 0.5px;
    line-height: 1.4;
    width: 20vw;
}

.imagem_cadastro img{
    height: 40vh;
    width: 20vw;
    margin-bottom: 5vh;
}

.area_cadastro {
    height: 80vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2vw;
    background-color: white;
    background: linear-gradient(to bottom, #25d6e3c1, #16c5dcb0);
    box-shadow: 0px 0px 8px 1px rgb(107, 107, 107);
}

.formulario {
    height: 70vh;
    width: 28vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

input::placeholder {
    color: #fbffff;
    margin-left: 5px;
}

.input-linha {
    border: none; 
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding: 5px 0; 
    width: 100%; 
    font-size: 14px; 
    background-color: transparent;
    margin-bottom: 10px;
}

.input-linha:focus {
    border-bottom: 3px solid #2cd0df; 
}

label {
    color:  #338994;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
}

.select-linha {
    border: none; 
    border-bottom: 2px solid rgb(255, 255, 255); 
    outline: none; 
    background: transparent; 
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    appearance: none; 
    color: white;
}

.select-linha:focus {
    border-bottom: 2px solid #2cd0df; 
}

.select-linha::after {
    content: '▼';
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.submit {
    height: 6vh;
    width: 11vw;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    color: #ffffff;
    font-size: 18px;
}

.submit:hover {
    background-color: aqua;
    border: none;
    color: #40A8B6;
}

#menssagem {
    color: white;
}

#cadastre-se {
    color: #0b6a77;
    text-decoration: none;
    font-weight: bolder;
}

.password-container {
    display: flex;
    align-items: center;    
}

.eye-icon {
    cursor: pointer;
    margin-left: -30px;
    margin-bottom: 6px;
    font-size: 17px;
    color: white; 
}

.eye-icon i {
    color: white; 
}

#senha {
    width: 28vw;
}

/* --------------------------RESPONSIVO---------------------------- */
 
@media screen and (min-width: 50px) and (max-width: 1013px) {
    main {
        height: 100%;
        width: 100%;
    }
    
    .secao {
        height: 100%;
        width: 100%;
        box-shadow: none;
        background-color: white;
        background: linear-gradient(to bottom, #25d6e3c1, #16c5dcb0);
        position: relative;
        overflow: hidden;
        flex-direction: column;
    }

    .imagem_cadastro {
        height: 30vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        box-shadow: 0px 0px 8px 1px rgb(132, 132, 132);
        background-color: white;
        border-radius: 0vw 0vw 6vw 6vw;
    }

    .texto {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        width: 53vw; 
        text-align: center;
    }

    h1 {
        height: 100%;
        font-size: 20px;
        color: #40A8B6;
        line-height: 1.4;
        width: 100%;
        text-align: center;
    }

    .imagem_cadastro img {
        height: 15vh;
        width: 35vw;
        margin-bottom: 0vh;
    }

    .area_cadastro {
        height: 70vh;
        width: 100%;
        border-radius: 0vw;
        box-shadow: none;
    }

    .formulario {
        height: 58vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .submit {
        height: 5vh;
        width: 33vw;
        z-index: 2;
    }

    #senha {
        width: 100%;
    }

    .area_cadastro::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 245, 245, 0.396);  
        z-index: 1;
    }
    
    .formulario, .imagem_cadastro {
        position: relative;
        z-index: 2; 
    }
    
}
