*{
    margin: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body {
    background-color: var(--branco);
}

:root{
    --cor_fundo: #292626;
    --branco: #FFFFFF;
    --verde_agua: #53EAFF;
    --cinza_claro: #918c8c;
    --cinza_escuro: #D9D9D9;
    --azul: #40A8B6;
    --cor_linha: #998A8A;
    --preto: #000;
    --marrom: #534E4E;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    height: 22vh;
    width: 17vw;
}

.barra_navegacao {
    position: fixed;
    overflow: hidden;
    width: 9vw; 
    height: 100%;
    background-color: #ffffff;
    color: #30bdd1;
    padding: 20px 25px; 
    z-index: 2; 
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.links_navegacao {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center; 
}

.links_navegacao li {
    margin: 20px 0;
    position: relative;
}

.links_navegacao a {
    text-decoration: none;
    color: #30bdd1;
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.links_navegacao a i {
    margin-bottom: 5px; 
    transition: transform 0.3s ease;
}

.links_navegacao a:hover {
    background-color: rgba(48, 189, 209, 0.1); 
    transform: translateX(5px);
    border-radius: 5px;
    width: 9vw;
}

.links_navegacao a.ativo {
    width: 9vw;
    border-radius: 5px;
    background-color: #30bdd1; 
    color: white; 
}

.links_navegacao a.ativo i {
    transform: rotate(20deg); 
}

.conteudo {
    margin-left: 10.5vw;
    padding: 20px;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    overflow: hidden;
}

aside {
    background-color: #ffffff;
    height: 100vh;
    width: 15vw;
    box-shadow: -5px 0 6px rgba(0, 0, 0, 0.134);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
}

article {
    height: 100vh;
    width: 85vw;
    background-color: #98f0fab3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.main_secao {
    margin-left: 2%;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto; 
    scrollbar-width: none; 
}

.main_secao::-webkit-scrollbar {
    display: none; 
}

.main_coluna {
    height: 100vh;
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-image: url(../../imagens/fundo.png);  
}

h1 {
    color: #40A8B6;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texto_inicial {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column; 
    height: 15vh;
    width: 40vw;
}

.perfis_lista {
    display: flex;
    flex-wrap: wrap; 
    gap: 2vw; 
    width: 58vw; 
    justify-content: flex-start; 
    margin-top: 15vh;
    margin-bottom: 7vh;
    padding: 10px; 
}

.divisoria {
    flex: 1 1 30%; 
    max-width: 270px; 
    height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1vw;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 10vh;
}

.imagem {
    border: 7px solid white;
    width: 160px;
    height: 120px;
    border-radius: 1vw;
    position: absolute;
    background-color: white;
    top: -70px; 
    z-index: 1; 
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

.elementos_divisoria {
    margin-top: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 27vh;
}

.elementos_divisoria h3 { 
    color: #40A8B6;
    font-size: 25px;
}

.titulo {
    color: #2798a7;
}

.agendar { 
    color: var(--cor_fundo);
    background-color: rgba(172, 171, 171, 0.484);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agendar:hover {
    background-color: rgb(104, 104, 104);
    color: var(--branco);
}

.mensagem_erro {
    font-size: 28px; 
    color: red;
    padding: 10px;   
    background-color: #ffe6e6; 
    border: 1px solid red;     
    border-radius: 5px;        
    height: 25vh;
    width: 30vw;
}

.cabecalho_logo {
    display: none;
}

/* ----------------------------- RESPONSIVE LAYOUT ----------------------------- */

@media screen and (max-width: 1013px) {
    main {
        display: flex;
        flex-direction: column;
    }

    article {
        height: 87%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main_secao {
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }

    .main_secao {
        height: auto; 
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: row;
        overflow-y: scroll; 
        overflow-x: hidden;
        scrollbar-width: thin;
    }

    .texto_inicial {
        width: 90%;  
    }

    .rolagem {
        width: 90%;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .perfis_lista {
        display: flex;
        flex-direction: column; 
        gap: 2vh; 
        width: 90%; 
        justify-content: flex-start; 
        margin-top: 12vh;
        margin-bottom: 7vh;
        padding: 10px; 
        margin-left: 0;
        align-items: center;
    }

    .barra_navegacao {
        width: 90vw;
        height: 8vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        bottom: 0;
        left: 0;
        position: fixed;
        background-color: #ffffff;
        box-shadow:none;
        border-top: 1px solid #c5c3c3;
        z-index: 1000;
    }

    .links_navegacao {
        height: auto;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .links_navegacao li {
        margin: 0;
    }

    .links_navegacao li a i {
        font-size: 2em; 
        margin-right: 0; 
    }

    .links_navegacao li a span {
        display: none;
    }

    .links_navegacao a.ativo {
        height: 4vh;
        width: 14vw;
    }

    .cabecalho_logo {
        display: block;
        width: 100%;
        height: 13vh;
        background-color: rgba(255, 255, 255, 0.975);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 100;
        box-shadow: 0px 0px 4px 1px rgba(167, 165, 165, 0.5);
    }

    .cabecalho_logo img {
        height: 12vh;
        width: 50vw;
    }

    .main_coluna {
        display: none;
    }

    .logo {
        display: none;
    }

    .divisoria {
        flex: 1 1 30%; 
        width: 70vw; 
        height: 60vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 3vw;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        margin-bottom: 10vh;
    }

    .imagem {
        border: 7px solid white;
        width: 160px;
        height: 120px;
        border-radius: 3vw;
        position: absolute;
        background-color: white;
        top: -70px; 
        z-index: 1; 
        box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    }

    .imagem img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3vw;
    }

    .elementos_divisoria {
        margin-top: 80px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        width: 80%;
        height: 20vh;
        margin-bottom: 3vh;
    }

    .elementos_divisoria h3 { 
        font-size: 25px;
    }

    .titulo {
        color: #2798a7;
    }

    .agendar { 
        border: none;
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}
